canvas { width: 100%; height: 100% }
body {
	font-family: Monospace;
	background-color: #1A8FCF;
	margin: 0px;
	overflow: hidden;
	background-image: linear-gradient(#1A8FCF,#D1236A);
}
#info {
	font-size: 18px;
	position: absolute;
	padding: 10px;
	width: 100%;
	text-align: center;
}
a {
	text-decoration: underline;
	cursor: pointer;
}